# conda install -c conda-forge cudatoolkit=11.8 cudnn
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
ffmpeg
pysubs2
faster-whisper
python-dotenv

# 根据需求可选
# openai